h1,h2,h3,h4,h5,h6 {
    margin-top: 10px;
    padding: 0px;
}
body {
    background-color: azure;
}
main {
    background-color: white;
    max-width: 850px;
    min-height: 525px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
p {
    margin: 0px;
}
ol {
    line-height: 1.5;
    margin-bottom: 0px;
}
pre {
    border: solid 1px lightgray;
    padding: 5px;
}
hr {
    color: darkcyan;
    margin-bottom: 18px;
}